<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tes"
        tools:targetApi="31"
        android:usesCleartextTraffic="true">


        <activity
            android:name=".admin.Admin_LihatsoalForUser"
            android:exported="false" />
        <activity
            android:name=".admin.SoalDariadminforuser"
            android:exported="false" />
        <activity
            android:name=".admin.Admin_tambahbatchActivity"
            android:exported="false" />
        <activity
            android:name=".admin.Admin_daftarSoalActivity"
            android:exported="false" />
        <activity
            android:name=".admin.Admin_TambahSoalActivity"
            android:exported="false" />
        <activity
            android:name=".admin.Admin_DetailPelamarActivity"
            android:exported="false" />
        <activity
            android:name=".admin.MainActivity"
            android:exported="false" />
        <activity
            android:name=".admin.Admin_ItemLowongan"
            android:exported="false" />
        <activity
            android:name=".admin.Admin_TambahLowongan"
            android:exported="false" />
        <activity
            android:name=".admin.Admin_EditLowongan"
            android:exported="false" />
        <activity
            android:name=".admin.Admin_SuksesKirim"
            android:exported="false" />
        <activity
            android:name=".admin.Admin_editSoalActivity"
            android:exported="false" />
        <activity
            android:name=".admin.Admin_ItemSoalforAdmin"
            android:exported="false" />
        <activity
            android:name=".admin.Admin_ItemPendaftaranActivity"
            android:exported="false" />
        <activity
            android:name=".admin.Admin_DetailLowonganActivity"
            android:exported="false" />
        <activity
            android:name=".admin.Admin_DaftarPendaftarActivity"
            android:exported="false" />
        <activity
            android:name=".EditProfilActivity"
            android:exported="false" />
        <activity
            android:name=".HasilActivity"
            android:exported="false" />
        <activity
            android:name=".DaftarSoalAcvtivity"
            android:exported="false" />
        <activity
            android:name=".SuksesActiviy"
            android:exported="false" />
        <activity
            android:name=".FormulirActivity"
            android:exported="false" />
        <activity
            android:name=".DetailLowonganActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>